/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //withName: FASTQC {
    //    ext.args = '--quiet'
    //}

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: FASTP {
        ext.args = "-f '${params.front}' -t '${params.tail}' -e '${params.quality}' -l '${params.minLength}' --low_complexity_filter"
    }

    withName: MINIMAP2_ALIGN {
        ext.args = "-ax map-ont"
    }

    withName: SAMTOOLS_hFASTQ{
        publishDir = [
            path: { "${params.outdir}/nohuman" },
            mode: params.publish_dir_mode,
            pattern: '*.fastq.gz'
        ]
        ext.args = "-f 4"
    }

    withName: SAMTOOLS_hoFASTQ{
        publishDir = [
            path: { "${params.outdir}/nohost" },
            mode: params.publish_dir_mode,
            pattern: '*.fastq.gz'
        ]
        ext.args = "-f 4"
    }

    withName: SAMTOOLS_SORT{
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: METAMAPS_MAP{
        ext.args = "-m '${params.minLength}' -r '${params.dbmeta}/DB.fa'"
    }

    withName: METAMAPS_CLASSIFY{
        ext.args = "--DB '${params.dbmeta}'"
    }

    withName: R_METAPLOT{
        ext.args = "${params.minVirus}"
    }

    withName: REF_FASTA{
        ext.args = "'${params.dbmeta}/DB.fa' ${params.minVirus}"
    }

    withName: IVAR_CONSENSUS{
        ext.args2 = "-aa -A -d 0 -Q 0"
        ext.args = "-q '${params.quality}' -t '${params.agreement}' -m '${params.depth}'"
    }

    withName: HOMOPOLISH_POLISHING{
        ext.args = "-m R10.3.pkl"
    }

    withName: ADDING_DEPTH{
        publishDir = [
            path: { "${params.outdir}/addingDepth" },
            mode: params.publish_dir_mode,
        ]
    }
}
